/* Individual CSS Files */


/* Header */

.logo-name {
  color: rgba(255, 255, 255, 0.2);
  background-image: url("assets/logo/india.jpg");
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  animation: animate 12s linear infinite;
  -webkit-text-stroke: 0.5px #000;
  font-family: "poppins";
  text-transform: uppercase;
  line-height: 5vw;
}

@keyframes animate {
  0% {
    background-position: left 0 top 0px;
  }

  100% {
    background-position: left 1000px top 10px;
  }
}


/* Footer */

.underline-animation {
  position: relative;
}

.underline-animation::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 1.5px;
  background-color: #a3a59e;
  transition: all 0.5s;
}


.underline-animation:hover::before {
  width: 100%;
}