/* Individual CSS Files */

/* Header */

.logo-name {
  color: rgba(255, 255, 255, 0.2);
  background-image: url("assets/logo/india.jpg");
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  animation: animate 12s linear infinite;
  -webkit-text-stroke: 0.5px #000;
  font-family: "poppins";
  text-transform: uppercase;
  line-height: 5vw;
}

@keyframes animate {
  0% {
    background-position: left 0 top 0px;
  }

  100% {
    background-position: left 1000px top 10px;
  }
}

/* Footer */

.underline-animation {
  position: relative;
}

.underline-animation::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 1.5px;
  background-color: #a3a59e;
  transition: all 0.5s;
}

.underline-animation:hover::before {
  width: 100%;
}

/* Header */

.header_links {
  position: relative;
  color: #148938;
  text-decoration: none;
}

.header_links:hover {
  color: #148938;
  /* font-weight: bold; */
}

.header_links::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #148938;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.header_links:hover::before {
  transform: scaleX(1);
}

/* blogs and vlogs */

.blogCards {
  box-shadow: 20px 5px 50px rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.blogCards .blogCardsContents {
  background: linear-gradient(transparent, #1c1c1c 58%);
  transition: 0.5s;
  transform: translateY(100px);
  opacity: 0;
}

.blogCards:hover .blogCardsContents {
  transform: translateY(0px);
  opacity: 1;
}

.gallery {
  columns: 3 320px;
}

.quill > * {
  border-color: inherit !important;
  color: inherit !important;
}

.quill > .ql-toolbar {
  /* border radius of the toolbar */
  border-radius: 10px 10px 0 0;
}

.quill > .ql-container {
  /* border radius of the container and for font size*/
  font-size: inherit;
  border-radius: 0 0 10px 10px;
}

.ql-toolbar.ql-snow .ql-picker-label {
  font-family: cursive;
  color: inherit !important;
  opacity: 1;
}

.ql-toolbar.ql-snow .ql-picker-options {
  background-color: transparent;
  padding: 2px;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  border: none;
  box-shadow: none;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  border: none;
}

.ql-snow .ql-picker {
  color: inherit !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  /* for placeholder */
  color: inherit;
}

.ql-snow.ql-toolbar button svg {
  opacity: 1;
  color: currentColor;
}

.ql-snow .ql-stroke {
  /* for the border of the editor */
  stroke: currentColor !important;
}

.ql-snow .ql-fill {
  /* for the bg color */
  fill: currentColor !important;
}

.ql-picker-item {
  /* for dropdown */
  color: black !important;
  background-color: #dcdddd;
  padding: 10px;
  margin-bottom: 5px;
  font-family: cursive;
  border-radius: 5px;
  font-size: 10px;
}

.ql-picker-item:hover {
  background-color: #b2acac;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.relative {
  perspective: 1000px;
}

.front,
.back {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  position: absolute;
  width: 100%;
  height: 100%;
}

.front {
  transform: rotateY(0);
}

.back {
  transform: rotateY(180deg);
}

.relative.rotate-y-180 .front {
  transform: rotateY(-180deg);
}

.relative.rotate-y-180 .back {
  transform: rotateY(0);
}

.containerx {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  perspective: 1000px; /* Added perspective */
}

.containerx .boxx {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 20px;
  background: #232323;
  border-radius: 20px;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.containerx .boxx:hover {
  transform: rotateY(15deg); /* Example hover effect */
}

.containerx .boxx::before {
  content: "CULTURAL";
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 4em;
  color: white;
  opacity: 0;
  transition: 0.5s;
}

.containerx .boxx::after {
  content: "CANVAS";
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 3em;
  color: wheat;
  opacity: 0;
  transition: 0.5s;
}

.containerx .boxx:hover::before,
.containerx .boxx:hover::after {
  opacity: 0.04;
}

.containerx .boxx .namex {
  position: absolute;
  top: 40px;
  left: 0;
  text-align: center;
  color: white;
  width: 100%;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 75px);
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}

.containerx .boxx:hover .namex {
  opacity: 1;
}

.containerx .boxx .buyx {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate3d(-50%, 0, 75px);
  color: white;
  background: #333;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}

.containerx .boxx:hover .buyx {
  opacity: 1;
}

.containerx .boxx .circlex {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: white;
  opacity: 0.5;
  transform-style: preserve-3d;
  z-index: 1;
  transform: translate3d(-50%, -50%, 50px);
}

.containerx .boxx .productx {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 200px;
  transition: 0.5s;
  z-index: 11;
  transform-style: preserve-3d;
  transform: translate3d(-50%, -50%, 0px) rotate(-15deg);
}

.containerx .boxx:hover .productx {
  transform: translate3d(-50%, -50%, 75px) rotate(0deg);
}
