/* Common CSS  */

@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&family=Open+Sans&family=Roboto&family=Ubuntu:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


@import url('https://fonts.cdnfonts.com/css/gallient');
@import url('https://fonts.cdnfonts.com/css/future-straw');
@import url('https://fonts.cdnfonts.com/css/diphylleia');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* scrollbar */
::-webkit-scrollbar-track {
  background: #000;
}

@supports (-webkit-scrollbar-track-color: #000) {
  ::-webkit-scrollbar-track {
    background: #000;
  }
}

::-webkit-scrollbar {
  width: 0.1px;
  height: 0.1px;
  background: transparent;
}


/* Hide download button in the video controls */
.react-player .controls .controls__button[title="Download"] {
  display: none;
}

/* Target the outer container of the Google Translate widget */
#google_translate_element .goog-te-gadget {
  font-family: 'Arial', sans-serif !important;
  font-size: 14px !important;
  color: #333 !important;
  /* Change text color */
  background-color: #f5f5f5 !important;
  /* Change background color */
  padding: 10px !important;
  border-radius: 8px;
  border: 1px solid #ccc !important;
}

/* Customize the dropdown button */
#google_translate_element .goog-te-gadget .goog-te-gadget-simple a.VIpgJd-ZVi9od-xl07Ob-lTBxed {
  /* background-color: #4CAF50 !important; */
  /* Change button background */
  color: black !important;
  /* Change button text color */
  padding: 5px 10px !important;
  border-radius: 5px !important;
  border: none !important;
  font-weight: bold !important;
}

/* Customize the arrow icon */
#google_translate_element .goog-te-gadget .goog-te-gadget-simple span[aria-hidden="true"] {
  color: black !important;
  padding-left: 8px !important;
  /* Change the arrow icon color */
}

/* Remove the unwanted borders and icons */
#google_translate_element .goog-te-gadget .goog-te-gadget-simple img {
  display: none !important;
  /* Hide default icons */
}

#google_translate_element .goog-te-gadget .goog-te-gadget-simple span[style*="border-left"] {
  display: none !important;
  /* Hide default border */
}





/* total users */

.hollowBorder {
  position: relative;
  overflow: hidden;
  text-align: center;
  /* display: inline-block; */
  z-index: 0;
  border: 2px solid #f49738;
  text-decoration: none;

}

.hollowBorder:hover::before {
  top: 0;
  border-radius: 0;
}

.hollowBorder::before {
  content: '';
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f49738;
  border-radius: 70% 70% 0 0;
  z-index: -1;
  transition: all .9s;
}


/* square bg animation */


.squareAnimatedBox div:nth-child(1) {
  position: fixed;
  top: 28%;
  left: 30%;
  animation: Animate 10s linear infinite;
}

.squareAnimatedBox div:nth-child(2) {
  position: fixed;
  top: 32%;
  left: 70%;
  animation: Animate 7s linear infinite;
}

.squareAnimatedBox div:nth-child(3) {
  position: fixed;
  top: 35%;
  left: 6%;
  animation: Animate 9s linear infinite;
}

.squareAnimatedBox div:nth-child(4) {
  position: fixed;
  top: 37%;
  left: 90%;
  animation: Animate 10s linear infinite;
}

.squareAnimatedBox div:nth-child(5) {
  position: fixed;
  top: 45%;
  left: 50%;
  animation: Animate 6s linear infinite;
}

.squareAnimatedBox div:nth-child(6) {
  position: fixed;
  top: 80%;
  left: 70%;
  animation: Animate 12s linear infinite;
}

.squareAnimatedBox div:nth-child(7) {
  position: fixed;
  top: 60%;
  left: 80%;
  animation: Animate 15s linear infinite;
}

.squareAnimatedBox div:nth-child(8) {
  position: fixed;
  top: 52%;
  left: 25%;
  animation: Animate 16s linear infinite;
}

.squareAnimatedBox div:nth-child(9) {
  position: fixed;
  top: 82%;
  left: 10%;
  animation: Animate 9s linear infinite;
}

.squareAnimatedBox div:nth-child(10) {
  position: fixed;
  top: 70%;
  left: 39%;
  animation: Animate 5s linear infinite;
}

@keyframes Animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }

  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}