@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&family=Open+Sans&family=Roboto&family=Ubuntu:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar-track {
  background: #000;
}

@supports (-webkit-scrollbar-track-color: #000) {
  ::-webkit-scrollbar-track {
    background: #000;
  }
}

::-webkit-scrollbar {
  width: 0.1px;
  height: 0.1px;
  background: transparent;
}

/* Hide download button in the video controls */
.react-player .controls .controls__button[title="Download"] {
  display: none;
}

.underline-animation {
  position: relative;
}

/* .underline-animation:hover {
  color: #FFFAF4;
} */

.underline-animation::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 1.5px;
  background-color: #a3a59e;
  transition: all 0.5s;
}


.underline-animation:hover::before {
  width: 100%;
}